.App {
    text-align: center;
}

/* .phonebook-appear {
  opacity: 0;
  transform: translateX(-100%);
}

.phonebook-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 1500ms linear;
} */
.phonebook-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.form-label {
    display: block;
    width: 400px;
    padding: 10px;
    margin: 0 auto 40px
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-label p {
    margin-bottom: 6px;
}

.form-label input {
    padding: 6px;
    border-radius: 4px;
    width: 100%;
}

.phonebook-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 1500ms linear;
}

.alert-enter {
    opacity: 0;
    transform: translateX(100%);
}

.alert-enter-active {
    opacity: 1;
    transform: translateX(55%);
    transition: all 250ms linear;
}

.alert-exit {
    opacity: 1;
    transform: translateX(55%);
}

.alert-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: all 250ms linear;
}

.alert-wrapper {
    top: 0;
    left: 55%;
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: red;
    border-radius: 8px;
}

.alert-title {
    position: absolute;
    left: 0;
    top: 0;
}

.search-enter {
    opacity: 0;
    transform: scale(0.1);
}

.search-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 250ms linear;
}

.search-exit {
    opacity: 1;
    transform: scale(1);
}

.search-exit-active {
    opacity: 0;
    transform: scale(0.1);

    transition: all 250ms linear;
}

.phonebook-container {
    padding: 40px 0 80px 0;
}